{# @file ngxin-conf.html.twig ::: nginx.conf #}
user  root;
worker_processes  2;

events {
  worker_connections    1024;
}

http {
  include               includes/mime.types;
  default_type          application/octet-stream;
  log_format proxy      '$status $time_local - [$request_time s / $bytes_sent B ] 	$remote_addr	$request	--	$http_user_agent	--	$http_referer';

  gzip                  on;
  gzip_min_length       1024;
  gzip_proxied          expired no-cache no-store private auth;
  gzip_types text/plain text/css text/xml text/javascript application/x-javascript application/xml;
  gzip_disable          "msie6";
  sendfile              on;
  tcp_nopush            on;
  tcp_nodelay           on;
  keepalive_timeout     90;
  keepalive_requests    1000;
  client_max_body_size  100m;
  client_body_timeout   10;
  reset_timedout_connection on;
  open_file_cache           max=200000 inactive=20s;
  open_file_cache_valid     30s;
  open_file_cache_min_uses  2;
  open_file_cache_errors    on;

  server_names_hash_max_size     2048;
  server_names_hash_bucket_size   512;

  access_log            /dev/stdout;
  error_log             /dev/stderr;

  {{data.include}}
  include {{data.vhosts}}/*/*.conf;
}
# pid  logs/nginx.pid;
# daemon off;
