{#
  @file ngxin-site.html.twig
  Default theme implementation to present nginx site.
#}

server {
  {% if https %}

    listen 443 ssl http2;
    listen [::]:443 ssl http2;
  {% else %}

    listen  80;
    listen  [::]:80;
  {% endif %}

    server_name  {{site.name}};

    root       {{site.root}};
    error_log  {{site.log}}/nginx-error.log warn;
    access_log {{site.log}}/nginx-access.log;

    include includes/proxy_headers;
    {{site.extra}}
  {% for inc in site.includes %}

    include {{ inc }};
  {% endfor %}

  {% if not https and site.https == 'force' %}

    return 303 https://$host$request_uri;
  {% endif %}

  {% if https %}

    include includes/ssl-on.conf;
    ssl_certificate "{{site.fullchain}}";
    ssl_certificate_key "{{site.private}}";
  {% endif %}

  {% if site.mode == 'php' %}

    location ~ \.php(/|$) {
      include includes/fastcgi_params;
      fastcgi_pass  unix:/{{site.php}};
    }
  {% elseif site.mode == 'proxy' %}

    location / {
      proxy_pass {{proxy}};
    }
  {% endif %}
}
